@model MovieData

<form method="post" asp-action="AddPost">
    <label asp-for="Title">Title</label>
    <input type="text" asp-for="Title" style="" class="form-control" placeholder="Title..." />
    <br />
    <table class="table table-hover">
        <thead>
            <tr>
                <td>
                    <label asp-for="Release">Release Date</label>
                </td>
                <td>
                    <label asp-for="Language">Language</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" asp-for="Release" style="width:auto" class="form-control" placeholder="Release Date Add A time picker" />
                </td>
                <td>
                    <input type="text" asp-for="Language" style="" class="form-control" placeholder="Add Dropdown" />
                </td>
            </tr>
        </thead>
    </table>
    <br />
    <hr />
    <label asp-for="Genre">Genre</label>
    <input type="text" asp-for="Genre" style="" class="form-control" placeholder="Separate each genre using a comma ','." />
    <br />
    <label asp-for="Description">Description</label>
    <textarea asp-for="Description" class="form-control" style="height: 300px;" placeholder="What would you like to write?"></textarea><br />
    <input type="submit" style="width: auto; font-weight: 600;" class="btn btn-outline-primary" value="Post" /><br />
</form>