@model SerachData
@{
    ViewData["Title"] = "Home Page";
}
<style>

    * {
    box-sizing: border-box;
}
    .s129 {
    
    display: -ms-flexbox;
    display: flex;
    background-color: #fff;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background-size: cover;
    background-position: center center;
    padding: 15px;
}

    .s129 form {
        width: 100%;
        max-width: 390px;
    }

        .s129 form .inner-form {
            width: 100%;
        }

            .s129 form .inner-form .input-field {
                height: 80px;
                width: 100%;
                position: relative;
            }

                .s129 form .inner-form .input-field input {
                    height: 100%;
                    width: 100%;
                    background: transparent;
                    border: 0;
                    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
                    display:block;
                    width: 100%;
                    padding: 10px 32px 10px 70px;
                    font-size: 15px;
                    color: #000;
                    transition: all .2s ease-out, color .2s ease-out;
                }

                    .s129 form .inner-form .input-field input.placeholder {
                        color: #000;
                        font-size: 15px;
                    }

                    .s129 form .inner-form .input-field input:-moz-placeholder {
                        color: #000;
                        font-size: 15px;
                    }

                    .s129 form .inner-form .input-field input::-webkit-input-placeholder {
                        color: #000;
                        font-size: 15px;
                    }

                    .s129 form .inner-form .input-field input:hover,
                    .s129 form .inner-form .input-field input:focus {
                        box-shadow: none;
                        outline: 0;
                        border-bottom-color: #000;
                    }

                .s129 form .inner-form .input-field .btn-search {
                    width: 70px;
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-align: center;
                    align-items: center;
                    position: absolute;
                    left: 0;
                    height: 100%;
                    background: transparent;
                    border: 0;
                    padding: 0;
                    cursor: pointer;
                }

                    .s129 form .inner-form .input-field .btn-search svg {
                        fill: #000;
                        width: 50px;
                        height: 50px;
                    }

                    .s129 form .inner-form .input-field .btn-search:hover,
                    .s129 form .inner-form .input-field .btn-search:focus {
                        outline: 0;
                        box-shadow: none;
                    }
                    
</style>
<div class="s129">
    <form asp-action="SearchMovie" method="post">
        <div class="inner-form">
            <div class="input-field">
                <button class="btn-search" type="submit" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                    </svg>
                </button>
                <input id="search" type="text" placeholder="< Search?>" asp-for="@Model.data"/>
            </div>
        </div>
    </form>
</div>