@model SearchData
@{
    ViewData["Title"] = "Home Page";
}
<style>
    .form-control{
        background-color:transparent;
        border:none;
      
        color:#2b1515;
    }
</style>
<link href="~/css/search_style.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
<div id="cover">
    <form method="get" asp-action="Search">
        <div>
            @Html.DropDownListFor(model => model.Catagoryx, new SelectList(Enum.GetValues(typeof(Catagory))) as SelectList, new { @class = "form-control"  })
        </div>
        <div class="tb">
            <div class="td"><input type="text" placeholder="Search" required asp-for="@Model.data"></div>

            <div class="td" id="s-cover">
                <button type="submit" class="xbutton">
                    <div id="s-circle"></div>
                    <span></span>
                </button>
            </div>
        </div>
    </form>
</div>