* {
    outline: none;
}

html, body {
    height: 100%;
    min-height: 100%;
}

body {
    margin: 0;
    background-color: #585757;
}

.tb {
    display: table;
    width: 100%;
}

.td {
    display: table-cell;
    vertical-align: middle;
}

input, button {
    color: #fff;
   
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}

#cover {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 550px;
    padding: 35px;
    margin: -83px auto 0 auto;
    background-color: #585757;
    border-radius: 20px;
    box-shadow: 0 10px 40px #7d6b6b, 0 0 0 20px #fffffb;
}

form {
    height: 96px;
}

input[type="text"] {
    width: 100%;
    height: 96px;
    font-size: 30px;
    line-height: 1;
}

    input[type="text"]::placeholder {
        color: #2b1515;
    }

#s-cover {
    width: 1px;
    padding-left: 35px;
}

.xbutton {
    position: relative;
    display: block;
    width: 84px;
    height: 96px;
    cursor: pointer;
}

#s-circle {
    position: relative;
    top: -8px;
    left: 0;
    width: 64px;
    height: 64px;
    margin-top: 0;
    border-width: 15px;
    border: 15px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
}

.xbutton span {
    position: absolute;
    top: 68px;
    left: 43px;
    display: block;
    width: 45px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
}

    .xbutton span:before, .xbutton span:after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 45px;
        height: 15px;
        background-color: #fff;
        border-radius: 10px;
        transform: rotateZ(0);
        transition: 0.5s ease all;
    }

#s-cover:hover #s-circle {
    top: -1px;
    width: 67px;
    height: 15px;
    border-width: 0;
    background-color: #fff;
    border-radius: 20px;
}

#s-cover:hover span {
    top: 50%;
    left: 56px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
}

#s-cover:hover button span:before {
    bottom: 11px;
    transform: rotateZ(52deg);
}

#s-cover:hover button span:after {
    bottom: -11px;
    transform: rotateZ(-52deg);
}

#s-cover:hover button span:before, #s-cover:hover button span:after {
    right: -6px;
    width: 40px;
    background-color: #fff;
}


